<template name="projectActivityPanel">
    <div class="panel panel-default hidden-sm hidden-xs ">
        <div class="panel-heading">Project Activity in
            <a id="projectActivityDirection" href="#">
                <span class="label label-info">{{projectActivityDirection}}</span>
            </a> order.
        </div>
        <div class="panel-body">
            {{#each activity}}
                {{>activityTpl}}
            {{else}}
                <h4>No Activity Yet !</h4>
            {{/each}}
        </div>
    </div>
</template>